<!DOCTYPE html>
<html lang="en">
<head>

<body>
 <a id="myAnchor" href="localhost:8080/urls/new"></a>
    <!-- Write EJS code here to display shortened links -->
    <% URLlist.forEach(function(url) {


    %>
    <form method="GET" action="/urls/<%=url.shortURL%>">
      <li><%= url.shortURL %> - <%= url.longURL %>
      <button type="submit">EDIT</button>
      </li>

    </form>
    <form method="POST" action="/urls/<%=url.shortURL%>?_method=DELETE">
      <button type="submit">DELETE</button>
    </form>



    <% }); %>
</body>
</head>
</html>
