<!DOCTYPE html>
<html lang="en">
<head>

<head>
<body>
 <a id="myAnchor" href="localhost:8080/urls/new"></a>
    <!-- Write EJS code here to display shortened links -->
    <% URLlist.forEach(function(url) {


    %>
    <form method="POST" action="/urls/<%=url.shortURL%>?_method=DELETE">
      <li><%= url.shortURL %> - <%= url.longURL %>
      <button name = "delete" type = "submit" > DELETE </button>
      <input type="button" onclick="myHref()" value="edit">
      </li>

    </form>


    <% }); %>
</body>
</html>
